@use 'sass:color';
@use './variables' as *;

.board {
  display: grid;
  gap: 1px;
  aspect-ratio: 10 / 20;
  height: 70vh;
  max-width: 100%;
}

.board-cell {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-surface-alt, $lightness: 10%), $color-surface-alt);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);

  &.cell-cyan {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-cyan, $lightness: 40%), $color-cyan);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-blue {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-blue, $lightness: 40%), $color-blue);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-orange {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-orange, $lightness: 40%), $color-orange);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-yellow {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-yellow, $lightness: 40%), $color-yellow);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-green {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-green, $lightness: 40%), $color-green);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-purple {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-purple, $lightness: 40%), $color-purple);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }

  &.cell-red {
    border-radius: 3px;
    background: linear-gradient(145deg, color.adjust($color-red, $lightness: 40%), $color-red);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }
}
